


#parent {
  padding: 5% 0;
  height: 100%;
}
#child {
  padding: 10% 0;
  height: 100vh;
}

label {
  font-size: 60px;
}

.input-name {
  border-bottom: medium;
  border-color: aqua;
}

input:focus, input.form-control:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A0E8AF;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #A0E8AF;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #A0E8AF;
}

#dataenter {
  margin-left: 8rem;
}